<div class="hemisquare right-side">
  <%= render '/seo_meta/form', form: f %>

  <div class="field">
    <%= refinery_form_field f, :text_field, :custom_slug,
                label: true, help: true, html: { class: 'widest' } -%>
  </div>
</div>
