<% cache refinery_records_cache_key @posts do -%>
<div>
  <% if @posts.any? %>
    <%= render 'posts' %>
  <% else %>
    <p>
      <strong>
        <%= t('.no_items_yet') %>
      </strong>
    </p>
  <% end %>
</div>
<% end -%>
