<section id="records">
  <%= render searching? ? 'search_results' : 'records' %>
</section>
<aside id="actions">
  <%= render '/refinery/admin/search', search_model: Refinery::Blog::Post, url: refinery.admin_blog_posts_path %>
  <%= render 'refinery/admin/blog/actions' %>
</aside>
