<li class="record" id="<%= dom_id(blog_post_link) %>"
  data-dialog="<%= blog_post_to_link_dialog(blog_post_link) %>">
  <div class="detail">
    <span class="title">
      <%= blog_post_link.title %>
    </span>
  </div>
</li>

